@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 240 6.67% 2.94%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.92%;
    --primary: 140 52.17% 54.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 21.76 100% 80%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 96.86%;
    --muted-foreground: 240 3.83% 46.08%;
    --accent: 140 57.17% 67.9%;
    --accent-foreground: 240 5.88% 10%;
    --destructive: 0 72% 50.98%;
    --destructive-foreground: 0 0% 98.04%;
    --border: 240 5.88% 90%;
    --input: 140 52.17% 54.9%;
    --ring: 0 0% 78.82%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.92%;
    --foreground: 0 0% 98.04%;
    --card: 240 10% 3.92%;
    --card-foreground: 0 0% 98.04%;
    --popover: 240 10% 3.92%;
    --popover-foreground: 0 0% 98.04%;
    --primary: 140 52.17% 54.9%;
    --primary-foreground: 0 0% 98.04%;
    --secondary: 21.76 100% 80%;
    --secondary-foreground: 0 0% 98.04%;
    --muted: 0 0% 10.2%;
    --muted-foreground: 240 5.03% 64.9%;
    --accent: 138.95 34.55% 10.78%;
    --accent-foreground: 0 0% 98.04%;
    --destructive: 0 62.03% 30.98%;
    --destructive-foreground: 0 0% 98.04%;
    --border: 240 3.7% 15.88%;
    --input: 139.5 42.55% 18.43%;
    --ring: 0 0% 78.82%;
    --radius: 0.5rem;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}
